@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Zen+Kaku+Gothic+Antique:wght@500&display=swap');

*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
@-webkit-keyframes slide-in {
    from {
      opacity: 0;
      right: -50%;
    }
  }
  
@keyframes slide-in {
    from {
        opacity: 0;
        right: -50%;
    }
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.5;
}
h1 {
    font-family: 'Alata', sans-serif;
    font-size: 30px;
}
h2 {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.5;
    font-size: 24px;
    font-weight: bold;
}

.subtitle {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    margin-left: 36px;
}
a {
    color: inherit;
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    vertical-align: middle;
    height: auto;
}

.container {
    width: 1080px;
    margin: auto;
}
section {
    position: relative;
}
.sp {
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all .3s ease;
}
header>div {
    display: flex;
    align-items: center;
    position: relative;
}
header>div>a {
    display: flex;
}
.header-scroll {
    padding: 10px 0;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
.menu-btn {
    position: absolute;
    top: 0px;
    right: 50px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    background-color: #83c0ea;
    border-top: 10px solid #2591d8;
}
.menu-btn span {
    width: 40px;
    height: 4px;
    background-color: white;
    margin: 3px 0;
    transition: all .3s ease;
}
.menu-btn span:nth-child(3) {
    width: 25px;
}
.menu-btn:hover span:nth-child(3) {
    width: 40px;
}
.menu-open span:nth-child(1) {
    transform: rotate(135deg) translate(5px, -6px);
    background-color: white;
}
.menu-open span:nth-child(2) {
    width: 0px;
    opacity: 0;
    background-color: white;
}
.menu-open span:nth-child(3) {
    width: 40px;
    transform: rotate(-135deg) translate(8px, 9px);
    background-color: white;
}
.menu {
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    height: 100vh;
    padding-top: 200px;
    overflow-y: auto;
    backdrop-filter: blur(5px);
    font-size: 24px;
    opacity: 0;
    z-index: -1;
    transition: all .3s ease;
}
.menu-main-open {
    transform: translateY(0) !important;
    opacity: 1 !important;
    z-index: 999 !important;
}

/* menu */
.menu {
    display: flex;
    align-items: center;
    padding: 200px 10%;
    /* justify-content: center; */
}

.menu-left {
    width: 30%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.menu-left .logoBox {
    margin-bottom: 40px;
}
.menu-left .social-icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.social-icons ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social-icons ul li {
    padding-right: 8px;
    list-style: none;
    display: flex;
}
.social-icons ul li a {
    position: relative;
    color: #fff;
    font-size: 20px;
}
.social-icons ul li a span {
    position: absolute;
    right: -4px;
    bottom: 4px;
    display: block;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    color: #958443;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
}
.social-icons ul li a img {
    width: 20px;
    height: 20px;
    display: flex;
}
.fa-twitter:before {
    content: "\f099";
}
.fa-instagram:before {
    content: "\f16d";
}
.fa-line:before {
    content: "\f3c0";
}
.fa-youtube:before {
    content: "\f167";
}
.fa-facebook:before {
    content: "\f09a";
}

.menu-right {
    width: 70%;
    padding-left: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-left: solid 1px white;
}
.menu-right .nav-list ul:first-child {
    padding-right: 20px;
}
.menu-right .nav-list ul:last-child {
    padding-left: 20px;
}

.menu-right .nav-list li .bg {
    background: white;
    width: 30px;
    height: 2px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1px;
    z-index: -1;
    transition: all 0.3s;
}
.menu-right .nav-list li:hover {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-right .nav-list li:hover .bg {
    height: 100%;
    width: 100%;
    transform: translate(0, -50%);
}
.menu-right .nav-list li .bg:before {
  content: '';
  height: 2px;
  width: 10px;
  background: white;
  position: absolute;
  right: -1px;      
  -webkit-transition: all 0.3s;      
  -o-transition: all 0.3s;      
  transition: all 0.3s;
}
.menu-right .nav-list li .bg:before {
  bottom: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu-right .nav-item {
    width: 100%;
}
.menu-right .nav-item:hover {
    text-align: center;
}
.menu-right .nav-item:hover .bg:before {
  right: 0;
}
.menu-right .nav-item:hover .bg:before{
  bottom: 6px;
}
.clearfix {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.clearfix li {
    width: 98%;
}
.clearfix img {
    width: 75px;
    height: 60px;
}
.menu .menu-bluebtn {
    width: 100%;
}
.menu .menu-bluebtn li {
    width: 110px;
    height: 80px;
    padding: 10px;
    background-color: #5e9edb;
    display: flex;
    align-items: center;
}
.menu .menu-bluebtn li:last-child {
    width: 300px;
    height: 80px;
}
.menu .menu-bluebtn li:last-child a {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-right .nav-list {
    display: flex;
    text-align: left;
    width: 100%;
}
.menu-right .nav-list ul {
    width: 50%;
}
.menu-right .nav-list li {
    position: relative;
    margin-bottom: 10px;
    padding: 10px 0;
}
.inWrap {
    display: flex;
    flex-direction: column;
}
.inWrap .box.en {
    font-family: 'Alata', sans-serif;
    font-size: 16px;
}
.menu-right .box.jp {
    font-size: 10px;
}
.inWrap .s {
    font-size: 10px;
}
.inWrap .l {
    font-size: 16px;
}


/* =========================================================== */
/* footer */
footer {
    background-color: #83c0ea;
    color: white;
    padding: 40px 30px 15px 30px;
}
footer .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-left {
    width: 35%;
    display: flex;
    flex-direction: column;
}
.footer-left p {
    font-size: 14px;
    font-weight: bold;
}
.footer-left .box-text {
    border: solid 1px white;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 5px 10px;
    width: fit-content;
}
.footer-center {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-right {
    width: 35%;
}
.footer-right .footer-menu {
    display: flex;
    justify-content: flex-start;
}
.footer-right .footer-menu > div {
    border-right: solid 1px white;
}
.footer-right .social-container {
    position: relative;
    margin-top: 50px;
    bottom: unset;
    right: unset;
    text-align: right;
}
.footer-right .social-container p {
    font-size: 12px;
}
.footer-right .social-icons ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer-right .social-icons ul li {
    padding-left: 15px;
    padding-right: 0;
}
.footer-right .social-icons ul li a {
    font-size: 36px;
}
.footer-right .social-icons ul li a img {
    min-width: 40px;
    height: 40px;
}
footer li {
    list-style: none;
}
.footer-menu ul {
    display: flex;
    flex-wrap: wrap;
}
.footer-menu li {
    font-family: 'Alata', sans-serif;
    font-size: 16px;
    list-style: none;
    white-space: nowrap;
    margin-right: 10px;
    border-right: 1px solid white;
    padding-right: 10px;
    line-height: 1;
    margin-bottom: 10px;
}
.footer-menu a {
    position: relative;
    transition: all .3s ease;
}
.footer-menu a::after {
    border-bottom: 1px solid white;
    position: absolute;
    content: '';
    bottom: -2px;
    left: -2%;
    width: 104%;
    transform: scale(0);
    transform-origin: 0%;
    transition: all .3s ease;
}
.footer-menu a:hover {
    color: white;
}
.footer-menu a:hover::after {
    transform: scale(1);
}

.social-container {
    position: absolute;
    bottom: -50px;
    right: 36px;
    z-index: 4;
}
.social-container li {
    font-family: 'Alata', sans-serif;
    font-size: 12px;
}
.copyright {
    font-family: 'Alata', sans-serif;
    font-size: 14px;
    text-align: center;
}



/* Animation */
.effect-shine::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.effect-shine:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}


/* Responsible */
@media (max-width: 1400px) {
}
@media (max-width: 1280px) {
    .footer-left {
        width: 40%;
    }
    .footer-center {
        width: 20%;
    }
    .footer-right {
        width: 40%;
    }
    .footer-right .social-icons ul {
        justify-content: space-around;
    }
}
@media (max-width: 900px) {
    header .logo img {
        height: 80px;
        width: auto;
    }
    .menu-btn {
        right: 10px;
    }
    .menu {
        padding: 150px 10%;
        flex-direction: column;
    }
    .menu-left {
        width: 100%;
        padding-right: 0;
    }
    .menu-left .social-icons {
        width: 100%;
        flex-direction: row;
        margin-bottom: 10px;
    }
    .social-icons ul li a {
        font-size: 40px;
    }
    .menu-right {
        width: 100%;
        padding-left: 0;
        border-left: none;
    }
    .clearfix {
        flex-wrap: wrap;
    }
    .menu .menu-bluebtn li {
        margin-bottom: 10px;
    }
    .menu .menu-bluebtn li {
        width: 80px;
        height: 60px;
    }
    .menu .menu-bluebtn li:last-child {
        width: 200px;
        height: 60px;
    }

}
@media (max-width: 767px) {
    .footer-right .social-container {
        text-align: center;
    }
    .footer-right .social-icons ul {
        justify-content: center;
    }

}
@media (max-width: 400px) {
    .menu-btn {
        padding: 4px 6px;
    }
    .menu-btn span {
        width: 36px;
        height: 3px;
    }
    .menu-btn:hover span:nth-child(3) {
        width: 36px;
    }
    .menu-btn:hover span:nth-child(3) {
        width: 36px;
    }
    .menu-open span:nth-child(3) {
        transform: rotate(-135deg) translate(7px, 8px);
    }
    .menu-right .nav-list {
        flex-direction: column;
    }
    .menu-right .nav-list ul {
        width: 100%;
    }
    .menu-right .nav-list ul:first-child {
        padding-right: 0;
    }
    .menu-right .nav-list ul:last-child {
        padding-left: 0;
    }

    .subtitle {
        display: block;
    }
    .footer-right .social-icons ul {
        width: 100%;
        justify-content: space-around;
    }
    .footer-right .social-icons ul li {
        padding: 0;
    }
}